<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portrait</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io(); 
        socket.emit('room:join', 'portrait' + '{{playerID}}');
        const playerID = {{playerID}};

        const statusState = [
            {{#each attribute_status}}
            { id: {{attribute_status_id}}, value: {{value}} },
            {{/each}}
        ];
    </script>
    <link rel="stylesheet" href="/css/portrait.css">
    <script src="/js/portrait.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="main shadow" id="mainContainer">
            <img src="/assets/avatar_bg.png" class="bottom">

            <img src="/assets/frame_upside.png" class="bottom">

            <img id="avatar" src="/assets/avatar_ref.png" class="middle" style="display: none;">

            <img src="/assets/frame_bottom.png" class="top">
            <div class="energy-container" style=" width: 250px; height: 400px;">
                <img src="/assets/energy_placeholder.png" class="top" style="height: 400px; top: 75px; left: 25px;">
                <div class="text">
                    <div class="energy top">{{attributes.2.value}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container switchable">
        <div id="idleText" class="text" style="display: none;">
            <div class="name top">{{name}}</div>
        </div>
        <div id="combatText" class="text">
            <div class="health top">{{attributes.0.value}}/{{attributes.0.total_value}}</div>
            <div class="sanity top">{{attributes.1.value}}/{{attributes.1.total_value}}</div>
        </div>
    </div>

    <div class="container">
        <div class="main" style="top: 20px; left: 20px;">
            <div class="dice">
                <video height="240" muted class="popout">
                    <source src="/assets/dice_animation.webm">
                </video>
                <div class="result" style="display: none;">18</div>
                <div class="description" style="display: none;">SUCESSO</div>
            </div>
        </div>
    </div>
</body>

</html>