<!DOCTYPE html>
<html>

<head>
    {{> head}}
    <link rel="stylesheet" href="/styles/playersheet.css">
    <script src="/scripts/sheet2.js" defer></script>
    <script>socket.emit('room:join', 'player' + {{ playerID }});</script>
</head>

<body>
    <div class="container">
        {{> header_footer logo=1 targetPage=1}}
        <div class="row display-5 text-center">
            <div class="col">Perfil de {{playerrole}}</div>
        </div>
        <div class="row my-3" {{#unless playerLineage}}hidden{{/unless}} id="lineageContainer">
            <div class="col">
                <div class="row mt-2 text-center">
                    <div class="col h2">Linhagem</div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col h4">
                        Pontos de Linhagem: <span id="playerScore" data-score="{{playerScore}}">{{playerScore}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center" id="lineageGraph">
                        {{#each nodeRows}}
                        <div class="row my-5 py-5 px-1">
                            {{#each this}}
                            <div class="col lineage-node d-flex justify-content-center" data-index="{{this.index}}"
                                data-conquered="{{conquered}}" data-available="{{available}}" data-cost="{{cost}}">
                                <img src="/assets/lineages/frame/{{../../playerLineage}}/{{this.index}}.png"
                                    class="img-fluid {{#unless available}}unavailable{{else}}acds-clickable{{/unless}} {{#unless conquered}}unconquered{{/unless}}">
                                <div class="acds-tooltip px-3 py-2">
                                    <span class="title text-center h3">{{#unless
                                        available}}????????????{{else}}{{this.name}}{{/unless}}</span>
                                    <br>
                                    Custo: <span class="cost">{{#unless
                                        available}}?{{else}}{{this.cost}}{{/unless}}</span>
                                    <p>Tipo: <span class="type">{{#unless
                                            available}}?{{else}}{{this.type}}{{/unless}}</span></p>
                                    <p class="description">{{#unless
                                        available}}????????????{{else}}{{this.description}}{{/unless}}</p>
                                    <span class="footer"
                                        style="color: {{#unless available}}red{{else}}{{#if conquered}}green{{else}}yellow{{/if}}{{/unless}}">
                                        {{#unless
                                        available}}Você não possui os requerimentos para essa
                                        habilidade.{{else}}{{#if conquered}}Você possui essa habilidade.{{else}}Você
                                        ainda não possui essa habilidade.{{/if}}{{/unless}}
                                    </span>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{> header_footer targetPage=1}}

        <!--Toasts and Modals-->
        {{> failuretoast}}
    </div>
</body>

</html>