<!DOCTYPE html>
<html>

<head>
    {{> head}}
    <link rel="stylesheet" href="/styles/adminsheet.css">
    <script src="/scripts/admin1.js" defer></script>
    <script>socket.emit('room:join', 'admin');</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"
        integrity="sha512-zYXldzJsDrNKV+odAwFYiDXV2Cy37cwizT+NkuiPGsa9X1dOz04eHvUWVuxaJ299GvcJT31ug2zO4itXBjFx4w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="container">
        {{> header_footer logo=1 targetPage=2}}
        <div class="row my-3">
            <div class="col text-center">
                <a href="/portrait" class="h4">Acessar Retratos</a>
            </div>
        </div>
        <div class="row display-5 text-center">
            <div class="col">Administrador</div>
        </div>
        <div class="row text-center my-4">
            <div class="col h5">
                <input class="form-check-input" type="checkbox" id="changeEnvironment" {{#ifEquals
                    environmentState "combat" }}checked{{/ifEquals}}>
                <label class="form-check-label" for="changeEnvironment">
                    Ambiente de Combate?
                </label>
            </div>
            <div class="col h5">
                <input class="form-check-input" type="checkbox" id="hideShadows" {{#if shadowState}}checked{{/if}}>
                <label class="form-check-label" for="hideShadows">
                    Esconder versões alternativas?
                </label>
            </div>
        </div>
        <div class="row justify-content-center">
            {{#each characters}}
            {{#with this}}
            <div class="col-12 col-md-6 col-xl-4 col-xxl-3 my-2 h-100 text-center player-container-wrapper" {{#ifEquals
                shadowPlayerID "null" }} {{#if ../shadowState}}style="display: none;" {{/if}} {{/ifEquals}}
                data-shadow-player-id="{{shadowPlayerID}}">
                <div class="row px-2">
                    <div class="col player-container acds-player-container" data-player-id="{{playerID}}"
                        data-attribute-status="{{attributeStatus}}">
                        <div class="row">
                            <div class="col">
                                {{#ifNotEquals shadowPlayerID "null" }}
                                <button class="btn btn-dark btn-sm mt-2 delete-player">Apagar</button>
                                {{/ifNotEquals}}
                                <div class="avatar-container">
                                    <img class="img-fluid avatar">
                                    <img class="img-fluid lineage" data-lineage="{{player.lineage_id}}"
                                        data-level="{{player.level}}" {{#if player.lineage_id}}
                                        src="/assets/lineages/frameless/{{player.lineage_id}}/{{player.index}}.png"
                                        {{/if}}>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col h3 player-info" data-info-id="{{info.info_id}}" name="{{info.name}}">
                                {{#ifEquals shadowPlayerID "null"}}Alternativo:{{/ifEquals}} {{info.value}}
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col">
                                <div class="row my-1">
                                    <div class="col">
                                        Classe: <span class="class-name">{{#if
                                            player.class_name}}{{player.class_name}}{{else}}Nenhuma{{/if}}</span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col d-flex justify-content-center">
                                        <label for="playerLineage{{@index}}"><span
                                                class="mx-2 align-self-center">Linhagem:</span></label>
                                        <select id="playerLineage{{@index}}" class="acds-element text-center w-50"
                                            onchange="playerLineageChange(event);">
                                            <option value="0" {{#unless player}}selected{{/unless}}>Nenhuma</option>
                                            {{#each lineage}}
                                            {{#with this}}
                                            <option value="{{lineage_id}}" {{#ifEquals ../player.lineage_id
                                                lineage_id}}selected{{/ifEquals}}>{{name}}</option>
                                            {{/with}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col">
                                        Pontos de Linhagem: <input class="acds-bottom-text acds-element player-score"
                                            type="number" value="{{player.score}}"
                                            onchange="onPlayerScoreChanged(event);">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            {{#each attributes}}
                            {{#with this}}
                            <div class="col">
                                <div class="row">
                                    <div class="col h4 player-attribute" style="color: #{{fill_color}};"
                                        data-attribute-id="{{attribute_id}}">
                                        {{value}}/{{total_value}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{name}}
                                    </div>
                                </div>
                            </div>
                            {{/with}}
                            {{/each}}
                        </div>
                        <hr>
                        <div class="row">
                            {{#each specs}}
                            {{#with this}}
                            <div class="col">
                                <div class="row">
                                    <div class="col h4 player-spec" data-spec-id="{{spec_id}}">
                                        {{value}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{name}}
                                    </div>
                                </div>
                            </div>
                            {{/with}}
                            {{/each}}
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col h3">
                                Equipamentos
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table table-dark">
                                        <thead>
                                            <th scope="col">Nome</th>
                                            <th scope="col">Classe</th>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Alcance</th>
                                            <th scope="col">Característica</th>
                                        </thead>
                                        <tbody class="player-equipment-table">
                                            {{#each equipments}}
                                            {{> admin_equipment_row this}}
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col h3">
                                Inventário
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table table-sm table-borderless">
                                        <tbody class="player-item-table">
                                            {{#each items}}
                                            {{#with this}}
                                            {{> admin_item_row this}}
                                            {{/with}}
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/with}}
            {{/each}}
        </div>
        <div class="row my-3 text-center">
            <div class="col-12 col-lg my-2">
                <div class="row mx-2 text-center">
                    <div class="col h2">Rolagem</div>
                    <hr>
                </div>
                <div class="row mb-3 justify-content-center">
                    <div class="col-3">
                        <div class="row">
                            <div class="col h5">
                                Geral
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img id="rollGeneralDice" class="img-fluid acds-clickable dice" src="/assets/dice.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row h5">
                            <div class="col">
                                Rápido
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid acds-clickable dice" src="/assets/dice.png" data-bs-toggle="modal"
                                    data-bs-target="#fastDiceRoll">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg my-2">
                <div class="row mx-2">
                    <div class="col offset-3 h2 text-center">Combate</div>
                    <div class="col-3 align-self-center">
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                +
                            </button>
                            <ul id="initiativeDropdown" class="dropdown-menu dropdown-menu-dark">
                                {{#each characters}}
                                <li><button class="dropdown-item btn btn-dark" data-player-id="{{playerID}}"
                                        onclick="onAddToList(event)">{{info.value}}</button></li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="row my-2">
                    <div class="col">
                        <label class="h5" for="combatRound">Rodada: </label>
                        <input id="combatRound" class="h4 acds-element acds-bottom-text" type="number" value="1">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="wrapper w-100 acds-container">
                            <ul id="initiativeList" class="list initiative-list text-center">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col">
                        <button class="btn btn-sm btn-secondary initiative-button" data-coef="-1">Anterior</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-sm btn-secondary initiative-clear-button">Limpar</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-sm btn-secondary initiative-button" data-coef="1">Próximo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 col-lg my-3">
                <div class="row text-center mx-2">
                    <div class="col h2">
                        Histórico
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="wrapper w-100 acds-container">
                            <ul id="diceList" class="list dice-list">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg my-3">
                <div class="row mx-2">
                    <div class="col offset-3 h2 text-center">NPCs</div>
                    <div class="col-3 align-self-center">
                        <input id="addNPC" class="btn btn-dark" type="button" value="+">
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="wrapper w-100 acds-container">
                            <ul id="npcList" class="list npc-list text-center">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col">
                <div class="row mt-2 text-center">
                    <div class="col h2">
                        <label for="adminAnotations">Anotações</label>
                    </div>
                    <hr>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        {{#with adminNotes}}
                        <textarea id="adminAnotations" class="form-control acds-element" rows="10">{{value}}</textarea>
                        {{/with}}
                    </div>
                </div>
            </div>
        </div>
        {{> header_footer targetPage=2}}
    </div>

    {{!Templates}}
    <template id="equipmentRowTemplate">
        {{> admin_equipment_row}}
    </template>
    <template id="itemRowTemplate">
        {{> admin_item_row}}
    </template>

    {{> failuretoast}}
    {{> generaldice}}
    {{> diceroll}}

    <div class="modal fade" id="fastDiceRoll" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form autocomplete="off" onsubmit="event.preventDefault(); this.reset();">
                    <div class="modal-header">
                        <h5 class="modal-title">Rolagem Rápida</h5>
                    </div>
                    <form onsubmit="event.preventDefault()">
                        <div class="modal-body text-center" id="fastDiceRollContainer">
                            {{> loading}}
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        Valor
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-3">
                                        <input id="fastDiceRollValue" class="acds-element form-control" type="number"
                                            value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="fastDiceRollButton" class="btn btn-primary">Rolar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </form>
                </form>
            </div>
        </div>
    </div>
</body>

</html>