<!DOCTYPE html>
<html>

<head>
    {{> head ignore_socketio=1}}
    <script src="/scripts/sheet1.js" defer></script>
    <link rel="stylesheet" href="/styles/sheetstyle.css">
</head>

<body>
    <div class="container">
        <div class="row my-2">
            <div class="col text-start">
                <form action="/sheet/leave">
                    <button type="submit" class="btn btn-link h4">Sair</button>
                </form>
            </div>
            <div class="col text-end align-self-center">
                <a href="/sheet/2" class="h4">Acessar 2° Página</a>
            </div>
        </div>
        <div class="row h1 text-center">
            <div class="col">Perfil de {{playerrole}}</div>
        </div>
        <div class="row my-3">
            <div class="col acds-container d-flex flex-column h-100">
                <div class="row mt-2 text-center">
                    <div class="col h2">Detalhes Pessoais</div>
                    <hr>
                </div>
                {{#each info}}
                {{#with this}}
                <div class="row mt-4 info-container" data-info-id="{{info_id}}">
                    <div class="col">
                        <div class="row">
                            <div class="col mx-2 h5"><label for="info{{@index}}">{{name}}</label></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input class="acds-element acds-bottom-text" type="text" id="info{{@index}}"
                                    value="{{value}}" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
                {{/with}}
                {{/each}}
                <div class="row mt-4">
                    <div class="col">
                        <div class="row">
                            <div class="col mx-2 h5"><label for="playerClassSelect">Classe</label></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <select id="playerClassSelect" class="acds-element form-select">
                                    <option value="0" {{#unless playerClass.class_id}}selected{{/unless}}>
                                        Nenhum
                                    </option>
                                    {{#each classes}}
                                    {{#with this}}
                                    <option value="{{class_id}}" data-ability-title="{{ability_title}}"
                                        data-ability-description="{{ability_description}}"
                                        title="{{ability_title}}: {{ability_description}}" data-skills="{{skills}}"
                                        data-attribute-id="{{attribute_id}}" data-bonus="{{bonus}}" {{#ifEquals
                                        ../playerClass.class_id class_id}}selected{{/ifEquals}}>
                                        {{name}}
                                    </option>
                                    {{/with}}
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col" id="playerClass" data-bonus="{{playerClass.bonus}}"
                        data-attribute-id="{{attribute_id}}" data-skills="{{playerClass.skills}}">
                        <span id="playerClassTitle" style="color: red;">{{playerClass.ability_title}}{{#if
                            playerClass.ability_title}}:{{/if}} </span>
                        <span id="playerClassDescription">{{playerClass.ability_description}}</span>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <div class="row mb-3 avatar-container">
                    <div class="col d-flex justify-content-center">
                        <img id="avatar" class="img-fluid acds-clickable" data-bs-toggle="modal"
                            data-bs-target="#uploadAvatar">
                    </div>
                    <div class="col-auto align-self-center">
                        <img class="img-fluid acds-clickable dice" src="/assets/dice.png" data-bs-toggle="modal"
                            data-bs-target="#generalDiceRoll">
                    </div>
                </div>
                <div class="row mb-3 justify-content-center">
                    <div class="col">
                        {{#each attributes}}
                        {{#with this}}
                        <div class="row attribute-container" data-attribute-id="{{attribute_id}}">
                            <div class="col">
                                <div class="row">
                                    <div class="col"><label for="attribute{{@index}}">{{name}}</label></div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="progress" style="background-color: #{{bg_color}};">
                                            <div role="progressbar" class="progress-bar" name="{{name}}"
                                                data-current="{{value}}" data-max="{{max_value}}"
                                                data-extra="{{extra_value}}" data-total="{{total_value}}"
                                                style="background-color: #{{fill_color}}; width: {{coefficient}}%;">
                                            </div>
                                        </div>
                                    </div>
                                    {{#if rollable}}
                                    <div class="col-auto align-self-center">
                                        <img class="dice acds-clickable" src="/assets/dice.png">
                                    </div>
                                    {{/if}}
                                </div>
                                <div
                                    class="row {{#if rollable}}px-5{{else}}justify-content-center{{/if}} text-center mt-2">
                                    <div class="col-3">
                                        <input type="button" value="-" data-coefficient="-1"
                                            class="btn w-100 btn-dark btn-attribute">
                                    </div>
                                    <div class="col-4">
                                        <label class="h5 attribute-description"
                                            for="attribute{{@index}}">{{value}}/{{total_value}}</label>
                                    </div>
                                    <div class="col-3">
                                        <input type="button" value="+" data-coefficient="1"
                                            class="btn w-100 btn-dark btn-attribute">
                                    </div>
                                </div>
                                <div class="row {{#if rollable}}px-5{{/if}}">
                                    <div class="col-2 offset-{{#if rollable}}4{{else}}5{{/if}} h5">
                                        <input type="text" maxlength="3" autocomplete="off" value="{{max_value}}"
                                            class="attribute-max acds-bottom-text acds-element text-center"
                                            id="attribute{{@index}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{#if status}}
                        <div class="row px-5">
                            {{#each status}}
                            {{#with this}}
                            <div class="col form-check attribute-status-container"
                                data-attribute-status-id="{{attribute_status_id}}">
                                <input class="form-check-input" type="checkbox" {{#if checked}}checked{{/if}}
                                    id="status{{@../index}}{{@index}}">
                                <label class="form-check-label" for="status{{@../index}}{{@index}}">{{name}}</label>
                            </div>
                            {{/with}}
                            {{/each}}
                        </div>
                        {{/if}}
                        {{/with}}
                        {{/each}}
                    </div>
                </div>
                <div class="row my-3">
                    {{#each specs}}
                    {{#with this}}
                    <div class="col mt-3 text-center justify-content-center spec-container" data-spec-id="{{spec_id}}">
                        <div class="row">
                            <div class="col">
                                <input class="text-center acds-element acds-bottom-text h5 w-50" type="text"
                                    value="{{value}}" name="{{name}}" id="specField{{@index}}">
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col">
                                <label for="specField{{@index}}">{{name}}</label>
                            </div>
                        </div>
                    </div>
                    {{/with}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col px-4">
                <div class="row mt-2 text-center">
                    <div class="col h2">Atributos</div>
                    <hr>
                </div>
                <div class="row mb-3 text-center">
                    {{#each characteristics}}
                    {{#with this}}
                    <div class="col my-2 characteristic-container" data-characteristic-id="{{characteristic_id}}"
                        data-rollable="{{rollable}}">
                        <div class="row mb-2">
                            <div class="col">
                                <img class="img-fluid acds-clickable" src="/assets/dice.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><label for="characteristic{{@index}}">{{name}}</label></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input class="acds-element acds-bottom-text text-center h5 w-75" type="text"
                                    maxlength="3" id="characteristic{{@index}}" value="{{value}}"
                                    data-last-value="{{value}}" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    {{/with}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col px-4">
                <div class="row mt-2">
                    <div class="col offset-2 h2 text-center">Combate</div>
                    <div class="col-2">
                        <input class="btn btn-dark" type="button" value="+" data-bs-toggle="modal"
                            data-bs-target="#addEquipment">
                    </div>
                    <hr>
                </div>
                <div class="row mb-3">
                    <div class="col table-responsive text-center">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Usando</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Perícia</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Dano</th>
                                    <th scope="col"></th>
                                    <th scope="col">Alcance</th>
                                    <th scope="col">Ataques</th>
                                    <th scope="col">Mun. Atual</th>
                                    <th scope="col">Mun. Máxima</th>
                                </tr>
                            </thead>
                            <tbody id="equipmentTable">
                                {{#each equipments}}
                                {{> equipment_row this}}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col px-4">
                <div class="row mt-2">
                    <div class="col offset-2 h2 text-center">Perícias</div>
                    <div class="col-2">
                        <input type="button" value="+" class="btn btn-dark" data-bs-toggle="modal"
                            data-bs-target="#addSkill">
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="skillSearch" type="search" class="form-control acds-element mb-3"
                            placeholder="Procurar">
                    </div>
                </div>
                <div id="skillTable" class="row mb-3 text-center justify-content-center">
                    {{#each skills}}
                    {{> skill_container this}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col px-4">
                <div class="row mt-2">
                    <div class="col offset-2 h2 text-center">Inventário</div>
                    <div class="col-2">
                        <input type="button" value="+" class="btn btn-dark" data-bs-toggle="modal"
                            data-bs-target="#addItem">
                    </div>
                    <hr>
                </div>
                <div class="row mb-3">
                    <div class="col table-responsive">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Descrição Pessoal</th>
                                    <th scope="col">Quantidade</th>
                                </tr>
                            </thead>
                            <tbody id="itemTable">
                                {{#each items}}
                                {{> item_row this}}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col acds-container">
                <div class="row mt-2 text-center">
                    <div class="col h2">Detalhes Pessoais</div>
                    <hr>
                </div>
                {{#each extraInfo}}
                {{#with this}}
                <div class="row my-4 extra-info-container" data-extra-info-id="{{extra_info_id}}">
                    <div class="col">
                        <div class="row">
                            <div class="col h4">
                                <label for="extraInfo{{@index}}">{{name}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <textarea class="form-control acds-element" id="extraInfo{{@index}}"
                                    rows="10">{{value}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                {{/with}}
                {{/each}}
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col">
                <div class="row mt-3">
                    <div class="col h2 text-center"><label for="playerAnotations">Anotações</label></div>
                    <hr>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <textarea id="playerAnotations" class="form-control acds-element"
                            rows="10">{{playerNotes.value}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col text-start">
                <form action="/sheet/leave">
                    <button type="submit" class="btn btn-link h4">Sair</button>
                </form>
            </div>
            <div class="col text-end align-self-center">
                <a href="/sheet/2" class="h4">Acessar 2° Página</a>
            </div>
        </div>
    </div>

    {{!Templates}}
    <template id="equipmentRowTemplate">
        {{> equipment_row}}
    </template>

    <template id="skillContainerTemplate">
        {{> skill_container}}
    </template>

    <template id="itemRowTemplate">
        {{> item_row}}
    </template>

    {{> failuretoast}}

    {{> generaldice}}

    {{> diceroll}}

    <div class="modal fade" id="uploadAvatar" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form onsubmit="event.preventDefault();">
                    <div class="modal-header">
                        <h5 class="modal-title">Atualizar Avatar</h5>
                    </div>
                    <div id="uploadAvatarContainer" class="modal-body text-center">
                        {{> loading}}
                        <div class="container-fluid">
                            {{#each avatars}}
                            {{#with this}}
                            <div class="row my-3">
                                <div class="col">
                                    <label for="avatar{{@index}}">Link de Avatar
                                        {{#if name}}{{name}}{{else}}Padrão{{/if}}</label>
                                    <input id="avatar{{@index}}" type="text"
                                        class="acds-element form-control avatar-field" autocomplete="off"
                                        data-avatar-id="{{attribute_status_id}}" value="{{link}}">
                                </div>
                            </div>
                            {{/with}}
                            {{/each}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="uploadAvatarButton" type="submit" class="btn btn-primary">Atualizar</button>
                        <button id="uploadAvatarCloseButton" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createEquipment" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form onsubmit="event.preventDefault(); this.reset();">
                    <div class="modal-header">
                        <h5 class="modal-title">Criar Equipamento</h5>
                    </div>
                    <div id="createEquipmentContainer" class="modal-body text-center">
                        {{> loading}}
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col my-2">
                                    <input class="acds-element form-control" id="createEquipmentName" type="text"
                                        autocomplete="off" placeholder="Nome" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col my-2">
                                    <input class="acds-element form-control" id="createEquipmentType" type="text"
                                        placeholder="Tipo" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col my-2">
                                    <input class="acds-element form-control" id="createEquipmentDamage" type="text"
                                        autocomplete="off" placeholder="Dano" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col my-2">
                                    <input class="acds-element form-control" id="createEquipmentRange" type="text"
                                        autocomplete="off" placeholder="Alcance" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col my-2">
                                    <input class="acds-element form-control" id="createEquipmentAttacks" type="text"
                                        autocomplete="off" placeholder="Ataques" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col my-2">
                                    <input class="acds-element form-control" id="createEquipmentAmmo" type="text"
                                        autocomplete="off" placeholder="Munição" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col my-2">
                                    <label for="combatSpecializationList">Perícia</label>
                                    <select id="combatSpecializationList" class="form-select acds-element my-2">
                                        {{#each combatSpecializations}}
                                        {{#with this}}
                                        <option value="{{skill_id}}">{{name}}</option>
                                        {{/with}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="createEquipmentButton" type="submit" class="btn btn-primary">Criar</button>
                        <button id="createEquipmentCloseButton" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createSkill" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form onsubmit="event.preventDefault(); this.reset();">
                    <div class="modal-header">
                        <h5 class="modal-title">Criar Perícia</h5>
                    </div>
                    <div id="createSkillContainer" class="modal-body text-center">
                        {{> loading}}
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <input id="createSkillName" type="text" autocomplete="off"
                                        placeholder="Nome da Perícia" class="acds-element form-control my-2" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="createSkillCharacteristic">Atributo</label>
                                    <select id="createSkillCharacteristic" class="form-select acds-element my-2">
                                        {{#each characteristics}}
                                        {{#with this}}
                                        <option id="createSkillOption{{characteristic_id}}"
                                            value="{{characteristic_id}}">
                                            {{name}}</option>
                                        {{/with}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="createSkillSpecialization">Especialização</label>
                                    <select id="createSkillSpecialization" class="form-select acds-element my-2">
                                        <option value="0" selected>Nenhum</option>
                                        {{#each specializations}}
                                        {{#with this}}
                                        <option id="createSkillOption{{specialization_id}}"
                                            value="{{specialization_id}}">
                                            {{name}}</option>
                                        {{/with}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="createSkillButton" type="submit" class="btn btn-primary">Criar</button>
                        <button id="createSkillCloseButton" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createItem" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form onsubmit="event.preventDefault(); this.reset();">
                    <div class="modal-header">
                        <h5 class="modal-title">Criar Item</h5>
                    </div>
                    <div id="createItemContainer" class="modal-body text-center">
                        {{> loading}}
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <input id="createItemName" type="text" autocomplete="off" placeholder="Nome"
                                        class="acds-element form-control my-2" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <textarea class="acds-element form-control" id="createItemDescription"
                                        placeholder="Descrição Inicial" rows="3" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="createItemButton" class="btn btn-primary">Criar</button>
                        <button id="createItemCloseButton" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addEquipment" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar Equipamento</h5>
                </div>
                <div id="addEquipmentContainer" class="modal-body">
                    {{> loading}}
                    <div class="container-fluid">
                        <select id="addEquipmentList" class="form-select acds-element">
                            {{#each availableEquipments}}
                            {{#with this}}
                            <option value="{{equipment_id}}">
                                {{name}}
                            </option>
                            {{/with}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addEquipmentCreate" type="button" class="btn btn-info" data-bs-dismiss="modal"
                        data-bs-toggle="modal" data-bs-target="#createEquipment">Criar Equipamento</button>
                    <button id="addEquipmentButton" class="btn btn-primary" {{#unless
                        availableEquipments}}disabled{{/unless}}>Adicionar</button>
                    <button id="addEquipmentCloseButton" type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addSkill" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar Perícia</h5>
                </div>
                <div id="addSkillContainer" class="modal-body text-center">
                    {{> loading}}
                    <div class="container-fluid">
                        <select id="addSkillList" class="form-select acds-element">
                            {{#each availableSkills}}
                            {{#with this}}
                            <option value="{{skill_id}}">{{name}}</option>
                            {{/with}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addSkillCreateButton" type="button" class="btn btn-info" data-bs-dismiss="modal"
                        data-bs-toggle="modal" data-bs-target="#createSkill">Criar
                        Perícia</button>
                    <button id="addSkillButton" class="btn btn-primary" {{#unless
                        availableSkills}}disabled{{/unless}}>Adicionar</button>
                    <button id="addSkillCloseButton" type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addItem" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar Item</h5>
                </div>
                <div id="addItemContainer" class="modal-body">
                    {{> loading}}
                    <div class="container-fluid">
                        <select id="addItemList" class="form-select acds-element">
                            {{#each availableItems}}
                            {{#with this}}
                            <option id="addItemOption{{item_id}}" value="{{item_id}}">{{name}}</option>
                            {{/with}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal" data-bs-toggle="modal"
                        data-bs-target="#createItem">Criar Novo Item</button>
                    <button id="addItemButton" class="btn btn-primary" {{#unless
                        availableItems}}disabled{{/unless}}>Adicionar</button>
                    <button id="addItemCloseButton" type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>