<!DOCTYPE html>
<html>

<head>
    {{> head}}
    <link rel="stylesheet" href="/styles/playersheet.css">
    <script src="/scripts/sheet2.js" defer></script>
    <script>socket.emit('room:join', 'player' + {{ playerID }});</script>
</head>

<body>
    <div class="container">
        {{> header_footer logo=1 targetPage=1}}
        <div class="row display-5 text-center">
            <div class="col">Perfil de {{playerrole}}</div>
        </div>
        <div class="row my-5">
            <div class="col">
                <div class="row text-center">
                    <div class="col mt-2 offset-3 h2 text-center">Maldições</div>
                    <div class="col-3 align-self-center">
                        <input class="btn btn-dark" type="button" value="+" data-bs-toggle="modal"
                            data-bs-target="#addCurse">
                    </div>
                    <hr>
                </div>
                <div class="row text-center justify-content-center">
                    {{#each characteristics}}
                    {{#with this}}
                    <div class="col-3 mb-2 h4 characteristic-container" data-characteristic-id="{{characteristic_id}}">
                        <div class="row">
                            <div class="col">
                                {{name}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col remaining" data-value="{{remaining_value}}">
                                {{remaining_value}}
                            </div>
                        </div>
                    </div>
                    {{/with}}
                    {{/each}}
                    <hr>
                </div>
                <div class="row justify-content-center" id="playerCurses">
                    {{#each curses}}
                    {{> curse_container this}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row my-3" {{#unless playerLineage.lineage_id}}hidden{{/unless}} id="lineageContainer"
            data-lineage-id="{{playerLineage.lineage_id}}" data-divine="{{playerLineage.divine}}">
            <div class="col">
                <div class="row mt-2 text-center">
                    <div class="col h2">Linhagem</div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col h4">
                        Pontos de Linhagem: <span id="playerScore" data-score="{{playerScore}}">{{playerScore}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center" id="lineageGraph">
                        {{#each nodeRows}}
                        <div class="row my-5 py-5">
                            {{#each this}}
                            <div class="col lineage-node" data-index="{{index}}" data-level="{{level}}"
                                data-conquered="{{conquered}}" data-available="{{available}}" data-cost="{{cost}}">
                                <img src="/assets/lineages/frame/{{lineage_id}}/{{index}}.png"
                                    class="img-fluid {{#unless available}}unavailable{{else}}acds-clickable{{/unless}} {{#unless conquered}}unconquered{{/unless}}">
                                {{> lineage_node_tooltip this}}
                            </div>
                            {{/each}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{> header_footer targetPage=1}}

        {{!Toasts and Modals}}
        {{> failuretoast}}

        {{!Templates}}
        <template id="lineageNodeTooltipTemplate">
            {{> lineage_node_tooltip}}
        </template>

        <template id="curseContainerTemplate">
            {{> curse_container}}
        </template>

        <div class="modal fade" id="addCurse" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Adicionar Maldição</h5>
                    </div>
                    <div id="addCurseContainer" class="modal-body">
                        {{> loading}}
                        <div class="container-fluid text-center">
                            <div class="row">
                                <div class="col">
                                    <select id="addCurseList" class="form-select acds-element">
                                        {{#each availableCurses}}
                                        {{#with this}}
                                        <option value="{{curse_id}}" data-description="{{description}}">{{name}}
                                        </option>
                                        {{/with}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row h6 mt-3">
                                <div class="col curse-description"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="addCurseButton" class="btn btn-primary" {{#unless
                            availableCurses}}disabled{{/unless}}>Adicionar</button>
                        <button id="addCurseCloseButton" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="selectNode" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Selecionar Habilidade</h5>
                    </div>
                    <div id="selectNodeContainer" class="modal-body">
                        {{> loading}}
                        <div class="container-fluid">
                            <div class="row nodes text-center justify-content-center">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="selectNodeCloseButton" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>