<!DOCTYPE html>
<html>

<head>
    {{> head}}
    <link rel="stylesheet" href="/styles/adminsheet.css">
    <script src="/scripts/admin2.js" defer></script>
</head>

<body>
    <div class="container">
        {{> header_footer logo=1 targetPage=1}}
        <div class="row display-5 text-center">
            <div class="col">Administrador</div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col">
                <div class="row">
                    <div class="col offset-3 mt-2 h2 text-center">Equipamentos</div>
                    <div class="col-3 align-self-center">
                        <input class="btn btn-dark" type="button" value="+" data-bs-toggle="modal"
                            data-bs-target="#createEquipment">
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-dark">
                                <thead>
                                    <th scope="col"></th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Perícia</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Dano</th>
                                    <th scope="col">Alcance</th>
                                    <th scope="col">Ataques</th>
                                    <th scope="col">Mun. Máxima</th>
                                    <th scope="col">Visível</th>
                                </thead>
                                <tbody id="equipmentListTable">
                                    {{#each equipmentsList}}
                                    {{> admin2_equipment_row this combatSpecializations=../combatSpecializations}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col">
                <div class="row">
                    <div class="col offset-3 mt-2 h2 text-center">Perícias</div>
                    <div class="col-3 align-self-center">
                        <input class="btn btn-dark" type="button" value="+" data-bs-toggle="modal"
                            data-bs-target="#createSkill">
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-dark">
                                <thead>
                                    <th scope="col"></th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Especialização</th>
                                    <th scope="col">Atributo</th>
                                    <th scope="col">Obrigatório</th>
                                </thead>
                                <tbody id="skillListTable">
                                    {{#each skillsList}}
                                    {{> admin2_skill_row this specializations=../specializations
                                    characteristics=../characteristics}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col">
                <div class="row">
                    <div class="col offset-3 h2 mt-2 text-center">Itens</div>
                    <div class="col-3 align-self-center">
                        <input class="btn btn-dark" type="button" value="+" data-bs-toggle="modal"
                            data-bs-target="#createItem">
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-dark">
                                <thead>
                                    <th scope="col"></th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Desc. Inicial</th>
                                    <th scope="col">Visível</th>
                                </thead>
                                <tbody id="itemListTable">
                                    {{#each itemsList}}
                                    {{>admin2_item_row this}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col">
                <div class="row">
                    <div class="col offset-3 h2 mt-2 text-center">Maldições</div>
                    <div class="col-3 align-self-center">
                        <input class="btn btn-dark" type="button" value="+" data-bs-toggle="modal"
                            data-bs-target="#createCurse">
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-dark align-middle">
                                <thead>
                                    <th scope="col"></th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Grau</th>
                                    <th scope="col">Visível</th>
                                    <th scope="col">Foco</th>
                                </thead>
                                <tbody id="curseListTable">
                                    {{#each cursesList}}
                                    {{> admin2_curse_row this}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> header_footer targetPage=1}}
    </div>

    {{!Templates}}
    <template id="equipmentRowTemplate">
        {{> admin2_equipment_row}}
    </template>
    <template id="skillRowTemplate">
        {{> admin2_skill_row}}
    </template>
    <template id="itemRowTemplate">
        {{> admin2_item_row}}
    </template>
    <template id="curseRowTemplate">
        {{> admin2_curse_row}}
    </template>

    {{> failuretoast}}

    {{!Modals}}
    <div class="modal fade" id="createEquipment" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form autocomplete="off" onsubmit="event.preventDefault(); this.reset();">
                    <div class="modal-header">
                        <h5 class="modal-title">Criar Equipamento</h5>
                    </div>
                    <div class="modal-body text-center" id="createEquipmentContainer">
                        {{> loading}}
                        <div class="container-fluid">
                            <div class="row my-3">
                                <div class="col">
                                    <input class="acds-element form-control" id="createEquipmentName" type="text"
                                        placeholder="Nome" required>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col">
                                    <input class="acds-element form-control" id="createEquipmentType" type="text"
                                        placeholder="Tipo" required>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col">
                                    <input class="acds-element form-control" id="createEquipmentDamage" type="text"
                                        placeholder="Dano" required>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col">
                                    <input class="acds-element form-control" id="createEquipmentRange" type="text"
                                        placeholder="Alcance" required>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col">
                                    <input class="acds-element form-control" id="createEquipmentAttacks" type="text"
                                        placeholder="Ataques" required>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col">
                                    <input class="acds-element form-control" id="createEquipmentAmmo" type="text"
                                        placeholder="Munição" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="combatSpecializationList">Perícia</label>
                                    <select id="combatSpecializationList" class="form-select acds-element">
                                        {{#each combatSpecializations}}
                                        {{#with this}}
                                        <option value="{{skill_id}}">{{name}}</option>
                                        {{/with}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col align-self-center">
                                <button id="createEquipmentButton" type="submit" class="btn btn-primary">Criar</button>
                            </div>
                            <div class="col align-self-center">
                                <button id="createEquipmentCloseButton" type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createSkill" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form autocomplete="off" onsubmit="event.preventDefault(); this.reset();">
                    <div class="modal-header">
                        <h5 class="modal-title">Criar Perícia</h5>
                    </div>
                    <div class="modal-body text-center" id="createSkillContainer">
                        {{> loading}}
                        <div class="container-fluid">
                            <div class="row my-2">
                                <div class="col">
                                    <input id="createSkillName" type="text" placeholder="Nome da Perícia"
                                        class="acds-element form-control" required>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <label for="createSkillSpecialization">Especialização</label>
                                    <select id="createSkillSpecialization" class="form-select acds-element">
                                        <option value="0" selected>Nenhuma</option>
                                        {{#each specializations}}
                                        {{#with this}}
                                        <option id="createSkillSpecializationOption{{specialization_id}}"
                                            value="{{specialization_id}}">
                                            {{name}}</option>
                                        {{/with}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <label for="createSkillCharacteristic">Atributo</label>
                                    <select id="createSkillCharacteristic" class="form-select acds-element">
                                        {{#each characteristics}}
                                        {{#with this}}
                                        <option id="createSkillCharacteristicOption{{characteristic_id}}"
                                            value="{{characteristic_id}}">
                                            {{name}}</option>
                                        {{/with}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col align-self-center">
                                <button id="createSkillButton" type="submit" class="btn btn-primary">Criar</button>
                            </div>
                            <div class="col align-self-center">
                                <button id="createSkillCloseButton" type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createItem" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form autocomplete="off" onsubmit="event.preventDefault(); this.reset();">
                    <div class="modal-header">
                        <h5 class="modal-title">Criar Item</h5>
                    </div>
                    <div class="modal-body text-center" id="createItemContainer">
                        {{> loading}}
                        <div class="container-fluid">
                            <div class="row my-2">
                                <div class="col">
                                    <input id="createItemName" type="text" placeholder="Nome"
                                        class="acds-element form-control" required>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <textarea class="acds-element form-control" id="createItemDescription"
                                        placeholder="Descrição Inicial" rows="3" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col align-self-center">
                                <button type="submit" id="createItemButton" class="btn btn-primary">Criar</button>
                            </div>
                            <div class="col align-self-center">
                                <button id="createItemCloseButton" type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createCurse" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form autocomplete="off" onsubmit="event.preventDefault(); this.reset();">
                    <div class="modal-header">
                        <h5 class="modal-title">Criar Maldição</h5>
                    </div>
                    <div class="modal-body text-center" id="createCurseContainer">
                        {{> loading}}
                        <div class="container-fluid">
                            <div class="row mb-5">
                                <div class="col">
                                    <div class="row my-2">
                                        <div class="col">
                                            <input id="createCurseName" type="text" placeholder="Nome"
                                                class="acds-element form-control" required>
                                        </div>
                                    </div>
                                    <div class="row my-2">
                                        <div class="col">
                                            <textarea class="acds-element form-control" id="createCurseDescription"
                                                placeholder="Descrição" rows="3" required></textarea>
                                        </div>
                                    </div>
                                    <div class="row my-2">
                                        <div class="col">
                                            <input id="createCurseLevel" type="text" placeholder="Grau"
                                                class="acds-element form-control" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{#each focusCharacteristics}}
                            {{#with this}}
                            <div class="row my-2">
                                <div class="col">
                                    <label for="fDesc{{@index}}">Descrição de Foco ({{name}})</label>
                                    <textarea id="fDesc{{@index}}" class="acds-element form-control focus-description"
                                        data-characteristic-id="{{characteristic_id}}" rows="3" required></textarea>
                                </div>
                            </div>
                            {{/with}}
                            {{/each}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col align-self-center">
                                <button type="submit" id="createCurseButton" class="btn btn-primary">Criar</button>
                            </div>
                            <div class="col align-self-center">
                                <button id="createCurseCloseButton" type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editCurse" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form autocomplete="off" onsubmit="event.preventDefault(); this.reset();">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar Focos de Maldição</h5>
                    </div>
                    <div class="modal-body text-center" id="editCurseContainer">
                        {{> loading}}
                        <div class="container-fluid">
                            {{#each focusCharacteristics}}
                            {{#with this}}
                            <div class="row my-2">
                                <div class="col">
                                    <label for="fDesc{{@index}}">Descrição de Foco ({{name}})</label>
                                    <textarea id="fDesc{{@index}}" class="acds-element form-control focus-description"
                                        data-characteristic-id="{{characteristic_id}}" rows="3" required></textarea>
                                </div>
                            </div>
                            {{/with}}
                            {{/each}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col align-self-center">
                                <button type="submit" id="editCurseButton" class="btn btn-primary">Editar</button>
                            </div>
                            <div class="col align-self-center">
                                <button id="editCurseCloseButton" type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>