<!DOCTYPE html>
<html>

<head>
    {{> head}}
    <script src="/scripts/sheet1.js" defer></script>
    <link rel="stylesheet" href="/styles/playersheet.css">
    <script>socket.emit('room:join', 'player' + {{ playerID }});</script>
</head>

<body>
    <div class="container">
        {{> header_footer logo=1 targetPage=2}}
        <div class="row display-5 text-center">
            <div class="col">Perfil de {{playerrole}}</div>
        </div>
        <div class="row my-3">
            <div class="col acds-container d-flex flex-column h-100">
                <div class="row mt-2 text-center">
                    <div class="col h2">Detalhes Pessoais</div>
                    <hr>
                </div>
                {{#each info}}
                {{#with this}}
                <div class="row mt-4 info-container" data-info-id="{{info_id}}" data-visible="{{visible}}">
                    <div class="col mx-2">
                        <div class="row">
                            <div class="col h5">
                                <label class="info-label" for="info{{@index}}">
                                    {{name}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            {{#ifEquals name "Nome"}}
                            <div class="col-auto align-self-center">
                                <button
                                    class="visible-button btn btn-sm {{#if visible}}btn-primary{{else}}btn-secondary{{/if}}">
                                    {{#if visible}}
                                    <i class="bi bi-eye"></i>
                                    {{else}}
                                    <i class="bi bi-eye-slash"></i>
                                    {{/if}}
                                </button>
                            </div>
                            {{/ifEquals}}
                            <div class="col">
                                {{#if value}}
                                <label class="info-field" for="info{{@index}}">{{value}}</label>
                                {{else}}
                                <input class="acds-element acds-bottom-text info-field" type="text" id="info{{@index}}"
                                    value="{{value}}" autocomplete="off">
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/with}}
                {{/each}}
                <div class="row mt-4">
                    <div class="col">
                        <div class="row">
                            <div class="col mx-2 h5">
                                <label class="class-label" for="playerClassSelect">Classe</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <select id="playerClassSelect" class="acds-element form-select">
                                    <option value="0" {{#unless playerClass.class_id}}selected{{/unless}}>
                                        Nenhum
                                    </option>
                                    {{#each classes}}
                                    {{#with this}}
                                    <option value="{{class_id}}" data-ability-title="{{ability_title}}"
                                        data-ability-description="{{ability_description}}"
                                        title="{{ability_title}}: {{ability_description}}" {{#ifEquals
                                        ../playerClass.class_id class_id}}selected{{/ifEquals}}>
                                        {{name}}
                                    </option>
                                    {{/with}}
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col" id="playerClass">
                        <span id="playerClassTitle">{{playerClass.ability_title}}{{#if
                            playerClass.ability_title}}:{{/if}} </span>
                        <span id="playerClassDescription">{{playerClass.ability_description}}</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row mb-2 avatar-container justify-content-center">
                    <div class="col offset-xl-2 text-center">
                        <img id="avatar" class="img-fluid acds-clickable" data-bs-toggle="modal"
                            data-bs-target="#uploadAvatar">
                    </div>
                    <div class="col-4 col-md-3 col-xl-2 align-self-center">
                        <img class="img-fluid acds-clickable dice" src="/assets/dice.png">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        {{#each attributes}}
                        {{#with this}}
                        <div class="row attribute-container" data-attribute-id="{{attribute_id}}"
                            data-visible="{{visible}}">
                            <div class="col">
                                <div class="row">
                                    <div class="col"><label for="attribute{{@index}}">Pontos de {{name}}</label></div>
                                </div>
                                <div class="row">
                                    <div class="col-auto align-self-center">
                                        <button
                                            class="visible-button btn btn-sm {{#if visible}}btn-primary{{else}}btn-secondary{{/if}}">
                                            {{#if visible}}
                                            <i class="bi bi-eye"></i>
                                            {{else}}
                                            <i class="bi bi-eye-slash"></i>
                                            {{/if}}
                                        </button>
                                    </div>
                                    <div class="col">
                                        <div class="progress" style="background-color: #{{bg_color}};">
                                            <div role="progressbar" class="progress-bar" name="{{name}}"
                                                data-current="{{value}}" data-max="{{max_value}}"
                                                data-extra="{{extra_value}}" data-total="{{total_value}}"
                                                style="background-color: #{{fill_color}}; width: {{coefficient}}%;">
                                            </div>
                                        </div>
                                    </div>
                                    {{#if rollable}}
                                    <div class="col-auto align-self-center">
                                        <img class="dice acds-clickable" src="/assets/dice.png">
                                    </div>
                                    {{/if}}
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <div class="col col-lg-3">
                                        <button class="btn btn-dark w-100 attribute-button"
                                            data-coefficient="-1">-</button>
                                    </div>
                                    <div class="col col-lg-2 text-center align-self-center">
                                        <label class="h5 attribute-description"
                                            for="attribute{{@index}}">{{value}}/{{total_value}}</label>
                                    </div>
                                    <div class="col col-lg-3">
                                        <button class="btn btn-dark w-100 attribute-button"
                                            data-coefficient="1">+</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 offset-4 col-lg-2 offset-lg-5 h5">
                                        <input type="text" maxlength="3" autocomplete="off" value="{{max_value}}"
                                            class="attribute-max acds-bottom-text acds-element text-center"
                                            id="attribute{{@index}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            {{#each status}}
                            {{#with this}}
                            <div class="col attribute-status-container"
                                data-attribute-status-id="{{attribute_status_id}}" {{#ifEquals attribute_status_id
                                7}}style="display: none;" {{/ifEquals}}>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" {{#if checked}}checked{{/if}} {{#if
                                        link}}data-link="{{link}}" {{/if}} id="status{{@../index}}{{@index}}">
                                    <label class="form-check-label" for="status{{@../index}}{{@index}}">{{name}}</label>
                                </div>
                            </div>
                            {{/with}}
                            {{/each}}
                        </div>
                        {{/with}}
                        {{/each}}
                    </div>
                </div>
                <div class="row my-2 justify-content-center">
                    {{#each specs}}
                    {{#with this}}
                    <div class="col col-sm-6 col-lg-4 text-center spec-container" data-spec-id="{{spec_id}}">
                        <div class="row">
                            <div class="col">
                                <input class="text-center acds-element acds-bottom-text h5" type="text"
                                    value="{{value}}" name="{{name}}" id="specField{{@index}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="specField{{@index}}">{{name}}</label>
                            </div>
                        </div>
                    </div>
                    {{/with}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col">
                <div class="row mt-2 text-center">
                    <div class="col h2">Atributos</div>
                    <hr>
                </div>
                <div class="row mb-3 text-center align-items-end justify-content-center">
                    {{#each characteristics}}
                    {{#with this}}
                    <div class="col col-md-4 col-xl-3 my-2 characteristic-container"
                        data-characteristic-id="{{characteristic_id}}">
                        <div class="row mb-2">
                            <div class="col">
                                <img class="img-fluid acds-clickable" src="/assets/dice.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><label for="characteristic{{@index}}">{{name}}</label></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input class="acds-element acds-bottom-text text-center h5 w-75" type="text"
                                    maxlength="3" id="characteristic{{@index}}" value="{{value}}"
                                    data-last-value="{{value}}" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    {{/with}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col">
                <div class="row">
                    <div class="col mt-2 offset-3 h2 text-center">Combate</div>
                    <div class="col-3 align-self-center">
                        <input class="btn btn-dark" type="button" value="+" data-bs-toggle="modal"
                            data-bs-target="#addEquipment">
                    </div>
                    <hr>
                </div>
                <div class="row mb-3 text-center">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-dark align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Dano</th>
                                        <th scope="col"></th>
                                        <th scope="col">Classe</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Alcance</th>
                                        <th scope="col">Carga Atual</th>
                                        <th scope="col">Carga Máxima</th>
                                        <th scope="col">Característica</th>
                                    </tr>
                                </thead>
                                <tbody id="equipmentTable">
                                    {{#each equipments}}
                                    {{> equipment_row this}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col">
                <div class="row">
                    <div class="col offset-3 mt-2 h2 text-center">Perícias</div>
                    <div class="col-3 align-self-center">
                        <input type="button" value="+" class="btn btn-dark" data-bs-toggle="modal"
                            data-bs-target="#addSkill">
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="skillSearch" type="search" class="form-control acds-element mb-3"
                            placeholder="Procurar">
                    </div>
                </div>
                <div id="skillTable" class="row mb-3 mx-1 text-center justify-content-center">
                    {{#each skills}}
                    {{> skill_container this}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col">
                <div class="row">
                    <div class="col offset-3 mt-2 h2 text-center">Inventário</div>
                    <div class="col-3 align-self-center">
                        <input type="button" value="+" class="btn btn-dark" data-bs-toggle="modal"
                            data-bs-target="#addItem">
                    </div>
                    <hr>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-dark align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Descrição</th>
                                        <th scope="col">Quant.</th>
                                    </tr>
                                </thead>
                                <tbody id="itemTable">
                                    {{#each items}}
                                    {{> item_row this}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col">
                <div class="row mt-2 text-center">
                    <div class="col h2">Detalhes Pessoais</div>
                    <hr>
                </div>
                {{#each extraInfo}}
                {{#with this}}
                <div class="row my-4 extra-info-container" data-extra-info-id="{{extra_info_id}}">
                    <div class="col">
                        <div class="row">
                            <div class="col h4">
                                <label for="extraInfo{{@index}}">{{name}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <textarea class="form-control acds-element" id="extraInfo{{@index}}"
                                    rows="10">{{value}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                {{/with}}
                {{/each}}
            </div>
        </div>
        <div class="row my-3 acds-container">
            <div class="col">
                <div class="row mt-3">
                    <div class="col h2 text-center"><label for="playerAnotations">Anotações</label></div>
                    <hr>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <textarea id="playerAnotations" class="form-control acds-element"
                            rows="10">{{playerNotes.value}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        {{> header_footer targetPage=2}}
    </div>

    {{!Templates}}
    <template id="equipmentRowTemplate">
        {{> equipment_row}}
    </template>

    <template id="skillContainerTemplate">
        {{> skill_container}}
    </template>

    <template id="itemRowTemplate">
        {{> item_row}}
    </template>

    {{> failuretoast}}

    {{> generaldice}}

    {{> diceroll}}

    <div class="modal fade" id="uploadAvatar" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form onsubmit="event.preventDefault();">
                    <div class="modal-header">
                        <h5 class="modal-title">Atualizar Avatar</h5>
                    </div>
                    <div id="uploadAvatarContainer" class="modal-body text-center">
                        {{> loading}}
                        <div class="container-fluid">
                            {{#each avatars}}
                            {{#with this}}
                            <div class="row my-3">
                                <div class="col">
                                    <label for="avatar{{@index}}">Link de Avatar
                                        {{#if name}}{{name}}{{else}}Padrão{{/if}}</label>
                                    <input id="avatar{{@index}}" type="text"
                                        class="acds-element form-control avatar-field" autocomplete="off"
                                        data-avatar-id="{{attribute_status_id}}" value="{{link}}">
                                </div>
                            </div>
                            {{/with}}
                            {{/each}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="uploadAvatarButton" type="submit" class="btn btn-primary">Atualizar</button>
                        <button id="uploadAvatarCloseButton" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createEquipment" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form onsubmit="event.preventDefault(); this.reset();">
                    <div class="modal-header">
                        <h5 class="modal-title">Criar Equipamento</h5>
                    </div>
                    <div id="createEquipmentContainer" class="modal-body text-center">
                        {{> loading}}
                        <div class="container-fluid">
                            <div class="row my-2">
                                <div class="col">
                                    <input class="acds-element form-control" id="createEquipmentName" type="text"
                                        autocomplete="off" placeholder="Nome" required>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <input class="acds-element form-control" id="createEquipmentDamage" type="text"
                                        autocomplete="off" placeholder="Dano" required>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <label for="createEquipmentKind">Classe</label>
                                    <select id="createEquipmentKind" class="form-select acds-element">
                                        <option value="Improvisado">Improvisado</option>
                                        <option value="Comum">Comum</option>
                                        <option value="Complexo">Complexo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <label for="createEquipmentType">Tipo</label>
                                    <select id="createEquipmentType" class="form-select acds-element">
                                        <option value="Leve">Leve</option>
                                        <option value="Médio">Médio</option>
                                        <option value="Pesado">Pesado</option>
                                        <option value="Disparo">Disparo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <label for="createEquipmentRange">Alcance</label>
                                    <select id="createEquipmentRange" class="form-select acds-element">
                                        <option value="Adjacente">Adjacente</option>
                                        <option value="Curto">Curto</option>
                                        <option value="Médio">Médio</option>
                                        <option value="Longo">Longo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <input class="acds-element form-control" id="createEquipmentAmmo" type="text"
                                        autocomplete="off" placeholder="Carga Máxima" required>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <input class="acds-element form-control" id="createEquipmentCharacteristic"
                                        type="text" autocomplete="off" placeholder="Característica" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="createEquipmentButton" type="submit" class="btn btn-primary">Criar</button>
                        <button id="createEquipmentCloseButton" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createSkill" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form onsubmit="event.preventDefault(); this.reset();">
                    <div class="modal-header">
                        <h5 class="modal-title">Criar Perícia</h5>
                    </div>
                    <div id="createSkillContainer" class="modal-body text-center">
                        {{> loading}}
                        <div class="container-fluid">
                            <div class="row my-2">
                                <div class="col">
                                    <input id="createSkillName" type="text" autocomplete="off"
                                        placeholder="Nome da Perícia" class="acds-element form-control" required>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <label for="createSkillCharacteristic">Atributo</label>
                                    <select id="createSkillCharacteristic" class="form-select acds-element">
                                        {{#each characteristics}}
                                        {{#with this}}
                                        <option id="createSkillOption{{characteristic_id}}"
                                            value="{{characteristic_id}}">
                                            {{name}}</option>
                                        {{/with}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <label for="createSkillSpecialization">Especialização</label>
                                    <select id="createSkillSpecialization" class="form-select acds-element">
                                        <option value="0" selected>Nenhum</option>
                                        {{#each specializations}}
                                        {{#with this}}
                                        <option id="createSkillOption{{specialization_id}}"
                                            value="{{specialization_id}}">
                                            {{name}}</option>
                                        {{/with}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="createSkillButton" type="submit" class="btn btn-primary">Criar</button>
                        <button id="createSkillCloseButton" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createItem" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form onsubmit="event.preventDefault(); this.reset();">
                    <div class="modal-header">
                        <h5 class="modal-title">Criar Item</h5>
                    </div>
                    <div id="createItemContainer" class="modal-body text-center">
                        {{> loading}}
                        <div class="container-fluid">
                            <div class="row my-2">
                                <div class="col">
                                    <input id="createItemName" type="text" autocomplete="off" placeholder="Nome"
                                        class="acds-element form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <textarea class="acds-element form-control" id="createItemDescription"
                                        placeholder="Descrição Inicial" rows="3" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="createItemButton" class="btn btn-primary">Criar</button>
                        <button id="createItemCloseButton" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addEquipment" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar Equipamento</h5>
                </div>
                <div id="addEquipmentContainer" class="modal-body">
                    {{> loading}}
                    <div class="container-fluid">
                        <select id="addEquipmentList" class="form-select acds-element">
                            {{#each availableEquipments}}
                            {{#with this}}
                            <option value="{{equipment_id}}">
                                {{name}}
                            </option>
                            {{/with}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addEquipmentCreate" type="button" class="btn btn-info" data-bs-dismiss="modal"
                        data-bs-toggle="modal" data-bs-target="#createEquipment">Criar Equipamento</button>
                    <button id="addEquipmentButton" class="btn btn-primary" {{#unless
                        availableEquipments}}disabled{{/unless}}>Adicionar</button>
                    <button id="addEquipmentCloseButton" type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addSkill" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar Perícia</h5>
                </div>
                <div id="addSkillContainer" class="modal-body text-center">
                    {{> loading}}
                    <div class="container-fluid">
                        <select id="addSkillList" class="form-select acds-element">
                            {{#each availableSkills}}
                            {{#with this}}
                            <option value="{{skill_id}}">{{name}}</option>
                            {{/with}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addSkillCreateButton" type="button" class="btn btn-info" data-bs-dismiss="modal"
                        data-bs-toggle="modal" data-bs-target="#createSkill">Criar
                        Perícia</button>
                    <button id="addSkillButton" class="btn btn-primary" {{#unless
                        availableSkills}}disabled{{/unless}}>Adicionar</button>
                    <button id="addSkillCloseButton" type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addItem" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar Item</h5>
                </div>
                <div id="addItemContainer" class="modal-body">
                    {{> loading}}
                    <div class="container-fluid">
                        <select id="addItemList" class="form-select acds-element">
                            {{#each availableItems}}
                            {{#with this}}
                            <option value="{{item_id}}">{{name}}</option>
                            {{/with}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal" data-bs-toggle="modal"
                        data-bs-target="#createItem">Criar Novo Item</button>
                    <button id="addItemButton" class="btn btn-primary" {{#unless
                        availableItems}}disabled{{/unless}}>Adicionar</button>
                    <button id="addItemCloseButton" type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>