<tr class="player-equipment" data-equipment-id="{{equipment_id}}">
    <td class="name">
        {{name}}
    </td>
    <td class="kind">
        {{kind}}
    </td>
    </td>
    <td class="type">
        {{type}}
    </td>
    </td>
    <td class="range">
        {{range}}
    </td>
    </td>
    <td class="characteristic">
        {{characteristic}}
    </td>
</tr>